{% extends 'main.html' %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<section class="hero is-primary">
  <div class="hero-body">
      <div class="container">
          <h1 class="title">
              Employees
          </h1>
      </div>
  </div>
</section>
<body>
  <section>
    <b>Enter parameters</b>
    <p>
      <form action="employees" method="GET"> 
        <div>
           <input type="radio" value="communicating most internaly" name="Request"> communicating most internaly <br />
           <input type="radio" value="prompt response" name="Request">prompt response<br />
           <input type="radio" value="information distributors" name="Request">information distributors <br />
          </div>  
    start_date: <input type="date" id="start_date" class="form-control form-control-alternative"
        name="start_date" value="{{ start_date }}">    
    
    end_date: <input type="date" id="end_date" class="form-control form-control-alternative" 
        name="end_date" value="{{ end_date }}">   
    lines :<input name="lines"><p>   
    minimum_threshold:<input name="minimum_threshold"><p>
    maximum_threshold :<input name="maximum_threshold"><p>  
    <p><input type=submit><p>
    </form>
  </section>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Last name</th>
            <th scope="col">First name</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
        {%for user in users%}  
            <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.last_name}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.category}}</td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
</body>

{% endblock content%}