{% extends 'main.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  </head>
  <section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome To Enron Application
            </h1>
        </div>
    </div>
  </section>
<body>
    <section>
    <form action="employees" method="GET">
        <button class="btn success">employees</button>
    </form>

    <form action="couples" method="GET">
        <button class="btn success">couples</button>
    </form>

    
    <form action="days" method="GET">
        <button class="btn success">days</button>
    </form>

    <form action="profiles" method="GET">
        <button class="btn success">profiles</button>
    </form>

    <form action="" method="GET">
        <button class="btn success">Logout</button>
    </form>

    <section>



</body>


{% endblock content%}