{% extends 'main.html' %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<section class="hero is-primary">
  <div class="hero-body">
      <div class="container">
          <h1 class="title">
              Profiles
          </h1>
      </div>
  </div>
</section>
<body>
<section>
    <b>Enter parameters</b>
    <p>
    <form action="profiles" method="GET">
    last name :<input name="nom"><p> 
    first name :<input name="prénom"><p>    
    <p><input type=submit><p>
    </form>
  </section>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Last name</th>
            <th scope="col">first name</th>
            <th scope="col">Category</th>
            <th scope="col">mean_sent_per_day</th>
            <th scope="col">mean_recieved_per_day</th>
          </tr>
        </thead>
        <tbody>
        {%for user in users%}  
            <tr>
            <td>{{user.last_name}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.category}}</td>
            <td>{{user.mean_sent_per_day}}</td>
            <td>{{user.mean_recieved_per_day}}</td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
</body>

{% endblock content%}